USE [master]
GO
/****** Object:  Database [CarManagement]    Script Date: 6/25/2025 6:57:31 PM ******/
CREATE DATABASE [CarManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarManagement', FILENAME = N'D:\SUMMER2025\PRM391\Assigment\CarManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarManagement_log', FILENAME = N'D:\SUMMER2025\PRM391\Assigment\CarManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarManagement]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 6/25/2025 6:57:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[CarID] [int] IDENTITY(1,1) NOT NULL,
	[Make] [nvarchar](50) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[ManufactureYear] [int] NOT NULL,
	[CarTypeID] [int] NULL,
	[Color] [nvarchar](30) NULL,
	[Mileage] [int] NULL,
	[LicensePlate] [nvarchar](20) NULL,
	[AskingPrice] [decimal](18, 2) NOT NULL,
	[Description] [text] NULL,
	[Status] [nvarchar](20) NULL,
	[ListingDate] [date] NULL,
	[SellerID] [int] NULL,
	[CarName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Cars__68A0340E1BEC5E3D] PRIMARY KEY CLUSTERED 
(
	[CarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarTypes]    Script Date: 6/25/2025 6:57:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarTypes](
	[CarTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
	[Description] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[CarTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 6/25/2025 6:57:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[CarID] [int] NOT NULL,
	[BuyerID] [int] NOT NULL,
	[TransactionDate] [datetime] NULL,
	[SellingPrice] [decimal](18, 2) NOT NULL,
	[TransactionStatus] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/25/2025 6:57:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[UserType] [nvarchar](20) NULL,
	[RegistrationDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cars] ON 

INSERT [dbo].[Cars] ([CarID], [Make], [Model], [ManufactureYear], [CarTypeID], [Color], [Mileage], [LicensePlate], [AskingPrice], [Description], [Status], [ListingDate], [SellerID], [CarName]) VALUES (2, N'Toyota', N'Camry', 2018, 7, N'White', 75000, N'51F-123.45', CAST(650000000.00 AS Decimal(18, 2)), N'Good condition, regular maintenance. Few minor scratches.', N'Available', CAST(N'2024-05-10' AS Date), 6, N'Toyota Camry')
INSERT [dbo].[Cars] ([CarID], [Make], [Model], [ManufactureYear], [CarTypeID], [Color], [Mileage], [LicensePlate], [AskingPrice], [Description], [Status], [ListingDate], [SellerID], [CarName]) VALUES (3, N'Honda', N'CR-V', 2020, 8, N'Black', 40000, N'51G-678.90', CAST(800000000.00 AS Decimal(18, 2)), N'Like new, full service history, one owner.', N'Available', CAST(N'2024-05-15' AS Date), 6, N'Honda CR-V')
INSERT [dbo].[Cars] ([CarID], [Make], [Model], [ManufactureYear], [CarTypeID], [Color], [Mileage], [LicensePlate], [AskingPrice], [Description], [Status], [ListingDate], [SellerID], [CarName]) VALUES (4, N'BMW', N'X5', 2019, 8, N'Blue', 60000, N'51H-111.22', CAST(1200000000.00 AS Decimal(18, 2)), N'Luxury SUV, well-maintained, premium features.', N'Available', CAST(N'2024-05-20' AS Date), 8, N'BMW X5')
SET IDENTITY_INSERT [dbo].[Cars] OFF
GO
SET IDENTITY_INSERT [dbo].[CarTypes] ON 

INSERT [dbo].[CarTypes] ([CarTypeID], [TypeName], [Description]) VALUES (7, N'Sedan', N'A passenger car in a three-box configuration with separate compartments for engine, passenger, and cargo.')
INSERT [dbo].[CarTypes] ([CarTypeID], [TypeName], [Description]) VALUES (8, N'SUV', N'Sport utility vehicle, typically a station wagon body on a light-truck chassis.')
INSERT [dbo].[CarTypes] ([CarTypeID], [TypeName], [Description]) VALUES (9, N'Hatchback', N'A car body configuration with a rear door that swings upward to provide access to a cargo area.')
SET IDENTITY_INSERT [dbo].[CarTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([TransactionID], [CarID], [BuyerID], [TransactionDate], [SellingPrice], [TransactionStatus]) VALUES (2, 2, 7, CAST(N'2024-06-20T10:30:00.000' AS DateTime), CAST(640000000.00 AS Decimal(18, 2)), N'Completed')
INSERT [dbo].[Transactions] ([TransactionID], [CarID], [BuyerID], [TransactionDate], [SellingPrice], [TransactionStatus]) VALUES (3, 3, 9, CAST(N'2024-06-22T14:00:00.000' AS DateTime), CAST(790000000.00 AS Decimal(18, 2)), N'Completed')
SET IDENTITY_INSERT [dbo].[Transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [FullName], [Email], [PhoneNumber], [Address], [UserType], [RegistrationDate]) VALUES (6, N'seller1', N'hashed_pass_seller1', N'Nguyen Van A', N'nguyenvana@example.com', N'0901234567', N'123 Le Loi, Quan 1, TP.HCM', N'Seller', CAST(N'2025-06-25' AS Date))
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [FullName], [Email], [PhoneNumber], [Address], [UserType], [RegistrationDate]) VALUES (7, N'buyer1', N'hashed_pass_buyer1', N'Tran Thi B', N'tranthib@example.com', N'0907654321', N'456 Tran Hung Dao, Quan 5, TP.HCM', N'Buyer', CAST(N'2025-06-25' AS Date))
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [FullName], [Email], [PhoneNumber], [Address], [UserType], [RegistrationDate]) VALUES (8, N'seller2', N'hashed_pass_seller2', N'Le Van C', N'levanc@example.com', N'0912345678', N'789 Nguyen Trai, Quan 1, TP.HCM', N'Seller', CAST(N'2025-06-25' AS Date))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Cars__026BC15C3F4A43EC]    Script Date: 6/25/2025 6:57:31 PM ******/
ALTER TABLE [dbo].[Cars] ADD  CONSTRAINT [UQ__Cars__026BC15C3F4A43EC] UNIQUE NONCLUSTERED 
(
	[LicensePlate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CarTypes__D4E7DFA8446A5308]    Script Date: 6/25/2025 6:57:31 PM ******/
ALTER TABLE [dbo].[CarTypes] ADD UNIQUE NONCLUSTERED 
(
	[TypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4F64D960F]    Script Date: 6/25/2025 6:57:31 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105341D30EAAF]    Script Date: 6/25/2025 6:57:31 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cars] ADD  CONSTRAINT [DF__Cars__Status__412EB0B6]  DEFAULT ('Available') FOR [Status]
GO
ALTER TABLE [dbo].[Cars] ADD  CONSTRAINT [DF__Cars__ListingDat__4222D4EF]  DEFAULT (getdate()) FOR [ListingDate]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT ('Completed') FOR [TransactionStatus]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Buyer') FOR [UserType]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK__Cars__CarTypeID__4316F928] FOREIGN KEY([CarTypeID])
REFERENCES [dbo].[CarTypes] ([CarTypeID])
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK__Cars__CarTypeID__4316F928]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK__Cars__SellerID__440B1D61] FOREIGN KEY([SellerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK__Cars__SellerID__440B1D61]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([BuyerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK__Transacti__CarID__48CFD27E] FOREIGN KEY([CarID])
REFERENCES [dbo].[Cars] ([CarID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK__Transacti__CarID__48CFD27E]
GO
USE [master]
GO
